<section class="banner">
  <div class="banner-content">
    <h2>Big Summer <span>Sale</span></h2>
    <p>Commodo fames vitae vitae leo mauris in. Eu consequat.</p>
    <a href="#" class="btn">Shop Now</a>
  </div>

  <img src="tablet-left.png" alt="" class="device device-1" />
  <img src="tablet-bottom.png" alt="" class="device device-2" />
  <img src="phone-top.png" alt="" class="device device-3" />
  <img src="watch-1.png" alt="" class="device device-4" />
  <img src="watch-2.png" alt="" class="device device-5" />
  <img src="iphone.png" alt="" class="device device-6" />
</section>
