<!-- <section class="wrap">
  <div class="tabs">
    <button (click)="setTab('new')" [class.active]="activeTab === 'new'">
      New Arrival
    </button>
    <button
      (click)="setTab('bestseller')"
      [class.active]="activeTab === 'bestseller'"
    >
      Bestseller
    </button>
    <button
      (click)="setTab('featured')"
      [class.active]="activeTab === 'featured'"
    >
      Featured Products
    </button>
  </div> -->

<!-- <div class="grid">
    <app-product-card
      *ngFor="let p of filtered"
      [product]="p"
    ></app-product-card>
  </div> -->

<!-- <div class="cards">
    <app-product-card *ngFor="let p of filtered" [product]="p">
    </app-product-card>
  </div> -->

<!-- <div class="cards">
    <app-product-card
      *ngFor="let p of filtered"
      [product]="p"
    ></app-product-card>
  </div>
</section> -->
