/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  /* padding: 0 24px; */
}
