<nav class="navbar container">
  <!-- LEFT: logo -->
  <div class="nav-left">
    <a routerLink="/" class="logo">cyber</a>
  </div>

  <!-- SEARCH -->
  <div class="nav-search">
    <input type="text" placeholder="Search" />
  </div>

  <!-- LINKS -->
  <div class="nav-links">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
  </div>

  <!-- ICONS -->
  <div class="nav-icons">
    <span>❤️</span>
    <a routerLink="/cart">🛒</a>
    <a routerLink="/login">👤</a>
  </div>
</nav>
